body {
  font-family: $sans-font;
  color: #333;
}

::selection {
  background-color: $selection-bg;
}

::-moz-selection {
  background-color: $selection-bg;
}

p {
  line-height: 1.7;
  margin-bottom: 20px;
}

body:not(.home) a {
  @include link-underline(#fff, $body-color, $selection-bg);
  &:hover {
    color: lighten($body-color, 30%);
  }
}

code,
pre {
  font-family: $mono-font;
  font-size: 14px;
  line-height: 1.4;
}

code[class] {
  padding-left: 20px;
}

pre {
  margin-bottom: 20px;
}

ul,
li {
  list-style-type: disc;
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 25px;
  line-height: 1.2;
}

table {
  width: 100%;
  margin: 0 auto;

  thead {
    border-bottom: 3px solid #000;
    font-weight: bold;
  }

  tr {
    td,
    th {
      padding: 20px 20px 20px 0px;
    }
  }
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

main#content {
  max-width: 720px;
  margin-left: 240px;
  text-align: justify;
  padding-right: 40px;

  img {
    max-width: 100%;
    text-align: center;
  }
}

.row {
  clear: both;
}

.row .one-half {
  width: 50%;
  float: left;
}
