header {
  float: left;
  position: fixed;
}

#inner-nav ul,
#inner-nav ul li {
  list-style-type: none;
}

#inner-nav ul li,
#site-logo {
  text-transform: lowercase;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 0px;

  a {
    font-size: 24px;
    padding: 10px 5px 10px 10px;
    text-decoration: none;
    color: #000;
    margin-right: 20px;
    background: none;

    i {
      padding-right: 4px;
    }
  }
}

#inner-nav ul li:hover a,
#site-logo a {
  color: #fff;
  background-color: #000;
}

#inner-nav ul li.active a {
  border-left: 5px solid #000;
  padding-left: 5px;
}

#inner-nav ul li span.item-title {
  display: none;
}

#inner-nav ul li:hover span.item-title,
#site-logo .site-title {
  display: inline;
  cursor: default;
}
