body.home {
  border-top: 5px solid #000;
}

#home-title {
  text-align: center;
  margin-bottom: .4em;
  cursor: default;
  color: #000;
}

#home-nav-container {
  padding-top: 9em;
}

#home-nav {
  max-width: 960px;
  margin: 0 auto;
}

#home-nav-items {
  text-align: center;

  &,
  li {
    list-style-type: none;
  }

  li {
    display: inline;
    margin-left: 1.3em;
    margin-right: 1.3em;

    a {
      margin-right: 0;
      padding: 0;
      font-size: 48px;
      display: inline-block;
      text-decoration: none;
      color: #000;

      &:hover {
        color: #000;
      }

      .home-nav-label {
        display: none;
      }
    }
  }
}
