body.home {
  border-top: 5px solid #000;
}

#home-title {
  text-align: center;
  margin-bottom: .4em;
  cursor: default;
}

#home-nav-container {
  padding-top: 9em;
}

#home-nav {
  max-width: 960px;
  margin: 0 auto;
}

#home-nav-items {
  text-align: center;

  li {
    display: inline;
    margin-left: 1.3em;
    margin-right: 1.3em;

    a {
      margin-right: 0;
      padding: 0;
      font-size: 48px;
      display: inline-block;
    }
  }
}
