---
environments:
  staging:
    host: staging.lambda.codes
    user: deploy
    ssh_port: 3033
    remote_path: "/home/deploy/staging.lambda.codes"
    page_dir: "/home/deploy/staging.lambda.codes/resources/pages"
    listen_port: 5000
    name: lambda-codes-staging
  prod:
    host: lambda.codes
    user: deploy
    ssh_port: 3033
    remote_path: "/home/deploy/lambda.codes"
    page_dir: "/home/deploy/lambda.codes/resources/pages"
    listen_port: 3000
    name: lambda-codes
  development:
    page_dir: "/home/baron/projects/lambda.codes/resources/pages"
