<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Foo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body class="home">
    <div id="home-nav-container">
      <nav id="home-nav">
        <h1 id="home-title">xyzy</h1>
        <ul id="home-nav-items">
          {% for item in navigation %}
          <li class="home-nav-{{ item.name }}">
            <a href="{{ item.href }}" data-title="{{ item.name }}"{% if 'target' in item %}target="{{ item.target }}"{% endif %}>
              <i class="fa fa-fw fa-{{ item.icon }}"></i>
            </a>
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </body>
</html>
