<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" id="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{% if title %}{{ title }} :: {% endif %}xyzy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    <header>
      <div id="site-logo">
        <a href="/">
          <i class="fa fa-fw fa-paw"></i>
        </a>
        <span class="site-title">xyzy</span>
      </div>
      <nav id="inner-nav">
        <ul>
          {% for item in navigation %}
          <li class="nav-{{ item.name }}{% if item.active %} active{% endif %}">
            <a href="{{ item.href }}"{% if 'target' in item %} target="{{ item.target }}"{% endif %}>
              <i class="fa fa-fw fa-{{ item.icon }}"></i>
            </a>
            <span class="item-title">{{ item.title }}</span>
          </li>
          {% endfor %}
        </ul>
      </nav>
    </header>
    {% block content %}{% endblock %}
  </body>
</html>
